<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="footer">
	<hr />
	<div class="footer-link">
		{% if site.author.facebook %}
		<a href="https://www.facebook.com/{{ site.author.facebook }}"><object height="14px" data="{{ site.baseurl }}/assets/social/facebook.svg" type="image/svg+xml" alt="Facebook's f"></object></a>
		{% endif %}

		{% if site.author.twitter %}
		<a href="https://twitter.com/{{ site.author.twitter }}"><object height="14px" data="{{ site.baseurl }}/assets/social/twitter.svg" type="image/svg+xml" alt="Twitter's logo"></object></a>
		{% endif %}

		{% if site.author.github %}
		<a href="https://github.com/{{ site.author.github }}"><object height="14px" data="{{ site.baseurl }}/assets/social/github.svg" type="image/svg+xml" alt="Github's logo"></object></a>
		{% endif %}

		{% if site.author.linkedin %}
		<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><object height="14px" data="{{ site.baseurl }}/assets/social/linkedin.svg" type="image/svg+xml" alt="LinkedIn's logo"></object></a>
		{% endif %}

		{% if site.author.medium %}
		<a href="https://medium.com/@{{ site.author.medium }}"><object height="14px" data="{{ site.baseurl }}/assets/social/reddit.svg" type="image/svg+xml" alt="Reddit's logo"></object></a>
		{% endif %}

		{% if site.author.tumblr %}
		<a href="https://{{ site.author.tumblr }}.tumblr.com"><object height="14px" data="{{ site.baseurl }}/assets/social/tumbler.svg" type="image/svg+xml" alt="Tumbler's logo"></object></a>
		{% endif %}

		{% if site.author.email %}
		<a href="mailto:{{ site.author.email }}"><object height="14px" data="{{ site.baseurl }}/assets/social/mail.svg" type="image/svg+xml" alt="Mail envelope"></object></i></a>
		{% endif %}

	</div>
	© 2016 {{ site.author.name }}. All rights reserved.
</div>
