{% capture site_tags %}
{% for tag in site.tags %}
{{ tag | first }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}

{% assign tags_list = site_tags | split:',' | sort %}

<ul>
  {% for item in (0..site.tags.size) %}
  {% unless forloop.last %}
    {% capture this_tag %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
    <li class="tag-index">
      <a href="{{ site.url }}archive/{{ this_tag }}">
        <span>{{ this_tag }}</span>
        <span class="count">{{ site.tags[this_tag].size }}</span>
      </a>
    </li>
  {% endunless %}
  {% endfor %}
</ul>