---
layout: default
---
<header>
  <h1 class="header-small">
    <a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
  </h1>
</header>
<div class="page">

  {% if page.subtitle %}
  <h1 class="page-title"><a href="{{site.url}}{{site.baseurl}}{{site.blogurl}}/archive" style="text-decoration: none; color: inherit;">{{ page.title }}</a>
    <span class="header-title"> | {{ page.subtitle }}</span>
  </h1>
  {% else %}
  <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}

  {{ content }}
</div>
